<form action="/search" method="post">
	<input type="hidden" name="term" value="barber">
	<input type="hidden" name="limit" value="10">
	<img class="image" src="/0.png"><br><br>
	<input type="text" name="postal_code" placeholder="Enter a zip code"><br><br>
	<input class="submit" type="submit" value="Get Trimmed!">
</form> 