<form action="/search" method="post">
	<input type="hidden" name="term" value="barber">
	<input type="hidden" name="limit" value="10">
	<input type="text" name="postal_code" placeholder="Please enter a zip code">
	<input type="submit" value="Search">
</form> 